<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<form th:action="@{/user/login}" method="post">
    <div th:if="${param.error}">
<!--        시큐리티의 로그인이 실패할 경우에는 로그인 페이지로 다시 리다이렉트 페이지 파라미터로 error가 함께 전달-->
        <div>
            사용자ID 또는 비밀번호를 확인해 주세요.
        </div>
    </div>
    <div>
        <label for="username" >username</label>
        <input type="text" name="username" id="username">
    </div>
    <div>
        <label for="password">비밀번호</label>
        <input type="password" name="password" id="password">
    </div>
    <button type="submit">로그인</button>

    <button>
        <a href="https://kauth.kakao.com/oauth/authorize?client_id=ee5f116120c1a17f81f2b11627129056&redirect_uri=http://localhost:8080/user/sign/kakao&response_type=code"></a>
        카카오로 로그인하기
    </button>
</form>
</body>
</html>
