<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원가입</title>
</head>
<body>
<form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">

<!--  <div class="mb-3">-->
<!--    <label for="id" class="form-label">ID</label>-->
<!--    <input type="text" th:field="*{id}" id="id" class="form-control">-->
<!--  </div>-->

  <div>
    <label for="name1">name</label>
    <input type="text" th:field="*{name1}" id="name1" name="name1">
  </div>
  <div>
    <label for="password1" >비밀번호</label>
    <input type="password" th:field="*{password1}" id="password1" name="password1" >
  </div>

<!--  <div class="mb-3">-->
<!--    <label for="password2" class="form-label">비밀번호 확인</label>-->
<!--    <input type="password" th:field="*{password2}" id="password2" class="form-control">-->
<!--  </div>-->
  <button type="submit" >회원가입</button>
</form>
</body>
</html>
